.venv/
outputs/
__pycache__/
*.pyc
.env
outputs/test_run/
src/pipeline/__pycache__/*
src/thesis_final_pipeline.egg-info/*
.venv/
__pycache__/
*.pyc
outputs/
*.egg-info/
dist/
build/
.pytest_cache/
videos/*